package service

import (
	"context"
	"{{.Service.Module}}/internal/core/domain"
	"{{.Service.Module}}/internal/core/port"
)

/**
 * {{.Name|Upper}}Service implements port.{{.Name|Upper}}Service interface
 */

type {{.Name|Upper}}Service struct {
	{{.Name}}RepositoryPg port.{{.Name|Upper}}RepositoryPg
}

func New{{.Name|Upper}}Service({{.Name}}RepositoryPg port.{{.Name|Upper}}RepositoryPg) *{{.Name|Upper}}Service {
	return &{{.Name|Upper}}Service{
		{{.Name}}RepositoryPg: {{.Name}}RepositoryPg,
	}
}

func (s *{{.Name|Upper}}Service) Crete(ctx context.Context, {{.Name}} domain.{{.Name|Upper}}) (*domain.{{.Name|Upper}}, error) {
	return s.{{.Name}}RepositoryPg.Crete(ctx, {{.Name}})
}

func (s *{{.Name|Upper}}Service) Get(ctx context.Context, ID int) (*domain.{{.Name|Upper}}, error) {
	return s.{{.Name}}RepositoryPg.Get(ctx, ID)
}

func (s *{{.Name|Upper}}Service) Update(ctx context.Context, ID int, {{.Name}} domain.{{.Name|Upper}}) (*domain.{{.Name|Upper}}, error) {
	return s.{{.Name}}RepositoryPg.Update(ctx, ID, {{.Name}})
}

func (s *{{.Name|Upper}}Service) Delete(ctx context.Context, ID int) (*domain.{{.Name|Upper}}, error) {
	return s.{{.Name}}RepositoryPg.Delete(ctx, ID)
}
