{
  "app": {
    {{- if .HTTP }}
    "http": {
      "port": "3000"
    },
    {{- end }}
    {{- if .GRPC }}
    "grpc": {
      "port": "8080"
    },
    {{- end }}
    "name": "{{.Name}}"
  },
  "db": {
    "postgres": {
      "dsn": "postgresql://root:agk1Lnu4byF6ifGzEgJREJs3@cho-oyu.liara.cloud:30205/postgres"
    }
  }
}