package gRPC

import (
	grpc "{{.Module}}/internal/adapter/handler/gRPC"
	"{{.Module}}/internal/core/port"
	"github.com/go-playground/validator/v10"
)

func Run(
	validate *validator.Validate,
	{{.Domain}}Service port.{{.Domain|Upper}}Service,
) {
	gRPC := grpc.NewServer(
	    validate,
	    {{.Domain}}Service,
	)
	gRPC.Run()
}
