package http

type {{.HTTPInfo.Name}}Dto struct {
    {{- if .DB.PostgreSQL }}
	ID   int `json:"id" validate:"required"`
	{{- end }}
	{{- if .DB.MongoDB }}
	MongoID string `json:"mongoID" validate:"required"`
	{{- end }}
	Name string `json:"name" validate:"required"`
}

type {{.HTTPInfo.Name}}CreateRequestDto struct {
    Name string `json:"name" validate:"required"`
}

type {{.HTTPInfo.Name}}GetResponseDto struct {
	ResponseDto
	Payload struct {
		{{.HTTPInfo.Name|Upper}} {{.HTTPInfo.Name}}Dto `json:"{{.HTTPInfo.Name}}"`
	} `json:"payload"`
}


type {{.HTTPInfo.Name}}UpdateRequestDto struct {
	Name string `json:"name" validate:"required"`
}

type {{.HTTPInfo.Name}}UpdateResponseDto struct {
	ResponseDto
	Payload struct {
		{{.HTTPInfo.Name|Upper}} {{.HTTPInfo.Name}}Dto `json:"{{.HTTPInfo.Name}}"`
	} `json:"payload"`
}

type {{.HTTPInfo.Name}}DeleteResponseDto struct {
	ResponseDto
	Payload struct {
		{{.HTTPInfo.Name|Upper}} {{.HTTPInfo.Name}}Dto `json:"{{.HTTPInfo.Name}}"`
	} `json:"payload"`
}