package http

import (
	"github.com/gofiber/fiber/v2"
)

type Router struct {
	fiberRouter  fiber.Router
	{{.HTTPInfo.Name}}Handler *{{.HTTPInfo.Name|Upper}}Handler
	// +salvation RouterType
}

func newRouter(
	{{.HTTPInfo.Name}}Handler *{{.HTTPInfo.Name|Upper}}Handler,
	// +salvation NewRouterType
) Router {
	return Router{
		{{.HTTPInfo.Name}}Handler: {{.HTTPInfo.Name}}Handler,
		// +salvation RouterHandler
	}
}

func (r *Router) serve(app *fiber.App) {
	r.fiberRouter = app.Group("/")
	api := app.Group("/api")
	v1 := api.Group("/v1")

	r.swaggerRouter()
	r.{{.HTTPInfo.Name}}V1Router(v1)
	// +salvation RouterServe
}
