package http

type {{.HTTPInfo.Name}}Dto struct {
	ID   int `json:"id" validate:"required"`
	Name string `json:"name" validate:"required"`
}

type {{.HTTPInfo.Name}}CreateRequestDto struct {
    Name string `json:"name" validate:"required"`
}

type {{.HTTPInfo.Name}}GetResponseDto struct {
	ResponseDto
	Payload struct {
		{{.HTTPInfo.Name|Upper}} {{.HTTPInfo.Name}}Dto `json:"{{.HTTPInfo.Name}}"`
	} `json:"payload"`
}

