package http

import (
	"{{.Module}}/internal/core/domain"
)

func {{.Domain}}CreateRequestDtoTo{{.Domain|Upper}}DomainMapper(dto {{.Domain}}CreateRequestDto) domain.{{.Domain|Upper}} {
	return domain.{{.Domain|Upper}}{
		Name:   dto.Name,
	}
}

func {{.Domain}}DomainTo{{.Domain|Upper}}GetResponseDtoMapper(d *domain.{{.Domain|Upper}}) {{.Domain}}GetResponseDto {
	var resp {{.Domain}}GetResponseDto
	resp.Payload.{{.Domain|Upper}} = {{.Domain}}Dto{
		ID:   d.ID,
		Name:	d.Name,
	}
	return resp
}

