package grpc

import (
	pb "{{.GRPCInfo.PBModule}}"
	// "{{.Module}}/internal/core/port"
	"github.com/go-playground/validator/v10"
)

type Handler struct {
	pb.UnimplementedPriceServiceServer
	validate *validator.Validate
	// nameService port.NameService
}

func NewHandler(
	validate *validator.Validate,
	// nameService port.NameService,
) *Handler {
	return &Handler{
		validate: validate,
		//nameService: nameService
	}
}
