package grpc

import (
	"context"
	pb "{{.GRPCInfo.PBModule}}"
)

{{ range .GRPCInfo.Methods}}
func (h Handler) {{.Name}}(ctx context.Context, req *pb.{{.InputType}}) (*pb.{{.OutputType}}, error) {
	resp := pb.{{.OutputType}}{}
	return &resp, nil
}
{{ end }}