package grpc

import (
	pb "{{.GRPCInfo.PBModule}}"
	"{{.Module}}/internal/core/port"
	"github.com/go-playground/validator/v10"
)

type Handler struct {
	pb.UnimplementedPriceServiceServer
	validate *validator.Validate
	{{.Domain}}Service port.{{.Domain|Upper}}Service
}

func NewHandler(
	validate *validator.Validate,
	{{.Domain}}Service port.{{.Domain|Upper}}Service,
) *Handler {
	return &Handler{
		validate: validate,
		{{.Domain}}Service: {{.Domain}}Service,
	}
}
