{
  "app": {
    "name": "{{.Name}}",
    "http": {
      "port": "3000"
    },
    "grpc": {
      "port": "8080"
    }
  },
  "db": {
    "postgres": {
      "dsn": "postgresql://root:agk1Lnu4byF6ifGzEgJREJs3@cho-oyu.liara.cloud:30205/postgres"
    }
  }
}