package main

import (
    {{- if .DB.PostgreSQL }}
	{{- end }}
	{{- if .HTTP }}
	"{{.Module}}/cmd/api"
	{{- end }}
	{{- if .GRPC }}
	"{{.Module}}/cmd/gRPC"
	{{- end }}
	{{- if .DB.PostgreSQL }}
	"{{.Module}}/internal/adapter/database/postgres/pg"
	{{- end }}
	"{{.Module}}/internal/core/service"
	validatorutil "git.alibaba.ir/taraaz/salvation2/monorepo/pkg/util/validator"
	{{- if .DB.PostgreSQL }}
	superConf "github.com/espitman/go-super-conf"
	{{- end }}
)

func main() {
	validate := validatorutil.NewValidator()

	{{- if .DB.PostgreSQL }}
    dsn := superConf.Get("db.postgres.dsn")
    pgDB := pg.NewDB(dsn)
    {{- end }}

    {{.Domain}}RepositoryPg := pg.New{{.Domain|Upper}}Repository(pgDB.Client)
    {{.Domain}}Service := service.New{{.Domain|Upper}}Service({{.Domain}}RepositoryPg)

    // +salvation NewRepository

	{{- if .GRPC }}
    {{- if .HTTP }}
    go gRPC.Run(
    validate,
        {{.Domain}}Service,
        // +salvation RunServiceGRPC
    )
    {{- else}}
    gRPC.Run(
        validate,
        {{.Domain}}Service,
        // +salvation RunServiceGRPC
    )
    {{- end }}
    {{- end }}
    {{- if .HTTP }}
	api.Run(
	    validate,
	    {{.Domain}}Service,
	    // +salvation RunServiceAPI
	)
	{{- end }}
}
