package gRPC

import (
	grpc "{{.Module}}/internal/adapter/handler/gRPC"
	"{{.Module}}/internal/core/port"
	"github.com/go-playground/validator/v10"
	superConf "github.com/espitman/go-super-conf"
)

func Run(
	validate *validator.Validate,
	{{.Domain}}Service port.{{.Domain|Upper}}Service,
	// +salvation Run
) {
	gRPC := grpc.NewServer(
	    superConf.Get("app.grpc.port"),
	    validate,
	    {{.Domain}}Service,
	    // +salvation RunService
	)
	gRPC.Run()
}
