package port

import (
	"context"
	"{{.Service.Module}}/internal/core/domain"
)

/**
 * {{.Name|Upper}}Service implemented by service.{{.Name|Upper}}Service interface
 */

type {{.Name|Upper}}Service interface {
	 Crete(ctx context.Context, {{.Name}} domain.{{.Name|Upper}}) (*domain.{{.Name|Upper}}, error)
	 Get(ctx context.Context, ID int) (*domain.{{.Name|Upper}}, error)
}
